################################################################################
# Space Navigator, Space Traveler, and Space Mouse devices from 3DConnexion.
# 3Dconnexion is actually made by Logitech.
# Not to be confused with the Magellan Space Mouse, for which there is
# a Magellan driver.
# The only argument is the name of the device to open.
#
# There is one argument:
#	char	name_of_this_device[]
#
# For the SpaceMouse Pro:
#	Analog channel assignments:
# 0=x
# 1=y
# 2=z
# 3=pitch
# 4=roll
# 5=yaw
#	Button number assignments:
# (the ones similar to <x> have a graphic on the button and are referred to the text enclosed text in the help)
# 0=Menu
# 1=Fit
# 2=<T>
# 4=<R>
# 5=<F>
# 8=<Roll+>
# 12=1
# 13=2
# 14=3
# 15=4
# 22=Esc
# 23=Alt
# 24=Shift
# 25=Ctrl
# 26=<Rot>
# 
# On Linux, make sure the HID and evdev drivers are running so that these
# devices will be recognized:
#  Start a separate Root shell:
#  cd .../vrpn/server_src/pc_linux
#  lsmod
#  modprobe evdev
#  modprobe hid
#  lsmod
#  (check that evdev and hid are running)
# On RedHat Linux, you need the have libusb1-devel installed and configure
#  the system for VRPN_USE_LOCAL_HIDAPI to get these to work.

vrpn_3DConnexion_Navigator device0

################################################################################
# Open the mouse as an analog and button devices.  There is an implementation
# under Windows and another under Linux (using GPM).  There are two analog
# channels, reporting in the range [0..1] as the mouse moves across the screen.
# There are 3 button channels: left, middle, right.
#
# There is one argument:
#	char	name_of_this_device[]

vrpn_Mouse	Mouse0

################################################################################
# Razer Hydra (Sixense TrueMotion) tracker (HID-based driver)
# 
# The left wand (the one with LB and LT on its "end" buttons - look from above)
# is sensor 0, and the right wand (with RB and RT on it) is sensor 1.
# The "front" of the base is the side opposite the cables: there's a small
# logo on it. You can have the base in any orientation you want, but the info
# that follows assumes you have the base sitting on a desk, with the front toward you.
# If you have the base in a different coordinate frame in the world, please make
# the appropriate mental transformations yourself. :)
#
# When starting the VRPN server, make sure that the left wand is somewhere to
# the left of the base, and the right wand somewhere right of the base -
# they do not need to be placed on the base or any more complicated homing/calibration
# procedure. This is for the hemisphere tracking: it needs to have an "initial state"
# that is roughly known, so it uses the sign of the X coordinate position.
#
# If using the Hydra on Windows, the server will work with or without the official
# Razer Hydra drivers installed. If you are only using the device with VRPN, don't
# install the official drivers. However, if you do have them installed, make sure that
# the "Hydra Configurator" and the Hydra system tray icon are closed to avoid unexpected
# failure (their software can switch the device out of the mode that VRPN uses). You
# probably want to make sure that the tray icon doesn't auto-run on startup, since it
# can get even messier with Windows 7's "switch users" if you let it auto-run for each
# user.
#
# Works great on Linux (regardless of endianness) - no drivers needed, thanks to USB HID.
#
# The base coordinate system is right-handed with the axes:
#  X - out the right of the base
#  Y - out the front of the base
#  Z - down
#
# The wands are also right-handed, with the tracked point somewhere near
# the cable entry to the controller . When held with the joystick vertical,
# the axes are:
#  X - to the right
#  Y - out the front of the controller (trigger buttons)
#  Z - Up, along the joystick
#
#  Buttons are as follows, with the right controller's button channels starting
# at 8 instead of 0:
#  0 - "middle" button below joystick
#  1-4 - numbered buttons
#  5 - "bumper" button (above trigger)
#  6 - joystick button (if you push straight down on the joystick)
#
# Analog channels are as follows, with the right controller starting at 3
# instead of 0:
#  0 - joystick left/right: centered at 0, right is positive, in [-1, 1]
#  1 - joystick up/down: centered at 0, up is positive, in [-1, 1]
#  2 - analog trigger, in range 0 (not pressed) to 1 (fully pressed).
#
# Arguments:
#   char    name_of_this_device[]
#   int     calibration_button (optional parameter)
#
# NOTE: In order to use the optional calibration button, hold the left controller 
# to the left of the base, the right controller to the right of the base, cable 
# connector on the base facing *away* from the user. Then press the button. 
# Failure to follow this procedure could result in the controllers switching 
# into incorrect hemispheres. This is the same calibration as the one executed on the
# server start with the controllers on the base.
#
# NOTE: Because of the jitter in the tracker, you may want to add a
# filter to it and then read the filtered location values; you still read
# the buttons and analogs from the original device.
#
# NOTE: If the Window device driver is installed, VRPN fails with "Cannot
# open device" message.  You need to uninstall the Windows drivers to
# use the Hydra under VRPN.

vrpn_Tracker_RazerHydra Tracker0 0